@{
    var db = Database.Open("Top_Scores");
    var selectQueryString = "SELECT * FROM topscores ORDER BY NAME";
    var i = 1;
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <table id="scores_table">
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Name</td>
                    <td>Score</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var row in db.Query(selectQueryString)){
                    <tr>
                        <td> @i</td>
                        <td>@row.Name</td>
                        <td>@row.Score</td>
                    </tr>
                i++;
                }
            </tbody>
        </table>
    </body>
</html>
